@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
    background-image: url("./img/background_menu.png");
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'VT323', sans-serif;
}

.pause, .announcement, .countdown {
    display: none;
    color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
    height: 200px;
    width: 300px;
    text-align: center
}

.pause button {
    width: 200px;
}

.pause div, .countdown div, .menu div, .screen div, .shop div, .missions div, .pet div {
    max-width: 448px;
    width: 100%;
    padding: 24px;
}

.pet button {
    padding: 10px 24px;
    cursor: pointer;
}

.allScore {
    position: center;
    display: none
}

.allScore img {
    margin-bottom:-10px;
    width: 40px;
    height: 40px;
}


.menu {
    display: block;
    color: white;
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
    height: 200px;
    text-align: center;
}

.menu button {
    width: 200px;
}

.difficulty {
    display: none;
    color: white;
    padding: 20px;
    position: fixed;
    top: 65%;
    left: 54%;
    margin-top: -300px;
    margin-left: -200px;
    height: 200px;
    width: 300px;
    text-align: center
}

.difficulty h2 {
    margin-right: 100px;
}
.difficulty button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.missions, .screen, .shop, .pet {
    display: none;
    color: white;
    padding: 20px;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
    height: 200px;
    width: 300px;
    text-align: center
}

.missions div {
    max-width: 448px;
    width: 100%;
    margin-top: 50px;
}

.missions button {
    margin-top: 50px;
    width: 200px;
}

.preparation {
    display: none;
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 70%;
    left: 46%;
    margin-top: -300px;
    margin-left: -200px;
    height: 200px;
    text-align: center;
}

.screen button {
    width: 250px;
}

.shop button {
    width: 265px;
}

.shop span, .pet span {
    font-size: 30px;
    margin-left: 20px;
}

.imgLives {
    display: block;
    position: fixed;
    top: 10%;
    left: 47.5%;
}

.imgLives img {
    content: url("./img/heart.png");
    width: 30px;
    height: 30px;
}

.boss {
    display: block;
    position: fixed;
    width: 200px;
    top: 20%;
    left: 44.5%;
}

.ammoType {
    position: fixed;
    left: 1400px;
    top: 480px;
    display: block;
}

.ammoType img, .consumables img {
    width: 50px;
    height: 50px;
}

.consumables {
    position: fixed;
    top: 650px;
    left: 1400px;
    display: block;
}

.consumables h2 {
    display: block;
    position: fixed;
    color: red;
    top: 627px;
    left: 1420px;
}

.gameInterface {
    position: fixed;
    display: none;
}

.reload {
    display: block;
    left: 910px;
    top: 960px;
    position: fixed;
    width: 100px;
}

button {
    border: none;
    font-family: 'VT323', sans-serif;
    font-size: 32px;
    cursor: pointer;
    padding: 12px 48px 12px 48px;
    color: white;
    background-color: #1bafdb;
    border-radius: 12px;
    margin-bottom: 15px;
    appearance: none;
    width: 200px
}

button:hover {
    background-color: #0E809C;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 35px;
}
p {
    font-size: 32px;
    position: absolute;
    z-index: 10;
    color: white;
    margin: 0;
}

