@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-image: url("./img/background_menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'VT323', sans-serif;
}

.pause, .announcement, .countdown {
    display: none;
    color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 400px;
    height: 30vh;
    max-height: 250px;
    text-align: center;
    box-sizing: border-box;
}

.pause button {
    width: 100%;
}

.allScore {
    display: none
}

.allScore img, .shop img, .pet img {
    width: 40px;
    height: 40px;
    margin-bottom: -10px;
}

.menu, .difficulty, .pet, .shop, .missions, .tutorial {
    display: block;
    color: white;
    padding: 20px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 400px;
    text-align: center;
}

.pet, .shop {
    top: 65% !important;
}

.menu button, .difficulty button, .pet button, .shop button, .missions button, .tutorial button, .pause button {
    width: 50%;
    margin: 10px auto;
    display: block;
    text-align: center;
}

.difficulty, .missions, .screen, .shop, .pet, .preparation {
    display: none;
    color: white;
    padding: 20px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 400px;
    text-align: center;
}

.screen {
    top: 50% !important;
}

.imgLives {
    display: block;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
}

.imgLives img {
    content: url("./img/heart.png");
    width: 30px;
    height: 30px;
}

.boss {
    display: block;
    position: fixed;
    width: 200px;
    top: 20%;
    left: 44.5%;
}

.boss > h2 {
    color: white;
    display: block;
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.ammoType, .consumables {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.ammoType img, .consumables img {
    width: 50px;
    height: 50px;
}

.gameInterface {
    position: fixed;
    display: none;
}

.reload {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

button {
    border: none;
    font-family: 'VT323', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 12px 36px;
    color: white;
    background-color: #1bafdb;
    border-radius: 12px;
    margin-bottom: 15px;
    width: 200px;
}

button:hover {
    background-color: #0E809C;
}

h1 {
    font-size: 2.5rem;
    margin: 20px;
}

h2 {
    font-size: 1.75rem;
}

.allScore > p {
    font-size: 30px;
    position: absolute;
    color: white;
    margin: 0;
}

#coinsShop {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 10px;
}

.shop span, .pet span {
    font-size: 30px;
    margin-left: 20px;
}

.ammoType {
    position: fixed;
    left: 1400px;
    top: 480px;
    display: block;
}

.consumables {
    position: fixed;
    top: 650px;
    left: 1400px;
    display: block;
}

.gameInterface > p {
    font-size: 32px;
    position: absolute;
    z-index: 10;
    color: white;
    margin: 0;
}
